 #mapid {
     width: auto;
     height: 90vh;
 }

 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     right: 0;
     top: 0;
     width: 15%;
     height: 100%;
     overflow: auto;
     background: white;
 }

 .error {
     color: red;
 }

.error_input {
    border-color: red;
}
